* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Heebo', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
}
 body {   
}
header {
    color: white;
    display: flex;
    background-image: url(./images/moon2.jpg);
    padding-bottom: 50px;
}
.firstsec {

}
h2 {
    padding-top: 15px;
    padding-left: 30px;
}
.firstdiv {
    display: flex;
    font-size: 16px;
    border-bottom: 0.1px solid grey;
}
.firstdiv p {
    padding-left: 30px;
    padding-top: 8px;
}
.seconddiv {
    display: inline-flex;
    padding-right: 500px;
    padding-top: 15px;
}
.bell {
    padding-top: 7px;
    height: 34px;
    width: 15px;
    padding-top: 15px;
}
.firstbut {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border: hidden;
    border-radius: 5px;
    margin-left: 15px;
}
.firstbut:hover {
    background-color: white;
    color: blue;
}
.secondbut {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border: hidden;
    border-radius: 5px;
    margin-left: 15px;

}
.secondbut:hover {
    background-color: white;
    color: blue;
}
.thirdbut {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border: hidden;
    border-radius: 5px;
    margin-left: 15px;
}
.thirdbut:hover {
    background-color: white;
    color: blue;
}
.forthbut {
    display: none;
}
.thirddiv {
    padding-left: 190px;
padding-right: 30px;
}
h1 {
    padding-top: 20px;
    padding-left: 255px;
    font-size: 70px;
}
.secondsec {
color: white;
}
.firstp {
    color: white;
    font-size: 30px;
    padding-left: 440px;
}
.connecticon {
    height: 50px;
}
.seventhdiv {
    display: flex;
    align-items: center;
    background-color: grey;
 border-radius: 5px;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-right: 20px;
 margin-top: 30px;
 margin-left: 30px;
}
.seventhdiv:hover {
    color: white;
    background-color: rgb(72, 68, 68);
}
.folder {
    height: 30px;
}
.eigthdiv {
    display: flex;
    align-items: center;
    background-color: grey;
    margin-top: 30px;
    margin-left: 30px;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    justify-content: center;
}
.eigthdiv:hover {
    color: white;
    background-color: rgb(72, 68, 68);
}
.sixthdiv {
    display: flex;
    align-items: center;
    padding-left: 170px;
}
.sweet {
    padding-left: 10px;
}
.secondfolder {
    height: 34px;
}
.ninthdiv {
    display: flex;
    align-items: center;
    background-color: grey;
    margin-top: 30px;
    margin-left: 30px;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    justify-content: center;
}
.ninthdiv:hover {
    color: white;
    background-color: rgb(72, 68, 68);
}
